body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Light gray background */
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff; /* White background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-details {
  text-align: center;
  margin-bottom: 20px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.info p {
  margin: 5px 0;
}

.back-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3f51b5; /* Blue color */
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.back-btn:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}
